*{
    margin: 0;
    padding: 0;
}
.tabla{
    border-collapse: collapse;
}
.tabla tr td{
    border: 1px solid black;
    padding: 4px 2px 4px 2px;  
    text-align: center;
}
.titulo{
    text-align: center;
    background-color: #54BFBF;
    height: 35px;
    font-weight: bold;
    font-size: 22px;
}
.cabecera{
    text-align: center;
    background-color: #c4f4fa;
}
