/* EJERCICIO 1 */
table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
}
/* FIN EJERCICIO 1 */


/* Ejercicio 2 */
div p {
    background-color: pink;
}
div>p {
    background-color: pink;
}
div+p {
    background-color: pink;
}
div~p {
    background-color: pink;
}
/* FIN EJERCICIO 2 */