h1 {
    border: 2px solid #00f;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    border: 2px solid #aaa;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

ul {
    border: 2px solid #0f0;
    margin-left: 10px;
    margin-right: 10px;
}

li+li {
    margin-top: 15px;
}